#!/usr/bin/env bash

BOT_DEFAULT_NAME="PG Bot"
BOT_ADMIN_NUMBER="+44123456789"
BOT_ADMIN_UUID="e9fd3240-72f9-427a-88d3-1bbbff60517c"
BOT_DEFAULT_MODEL="gpt-4o"
OPENAI_API_KEY="sk-proj-1234567890abcdef1234567890abcdef"
SIGNAL_CLI_VERSION="v0.12.8" # see https://github.com/AsamK/signal-cli/releases
SIGNALD_SOCKET_PATH="/signal.d/signald.sock"

SUNO_COOKIE="eyfffffffetc"
